/* root - contains my variables */
:root {
    --background-color: #140B00;
    --heading-font: 'Rock Salt', 'Fuzzy Bubbles', Helvetica, sans-serif;
    --standard-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;

    /* Colors */
    --primary-color: #140B00;
    /* Smoky Black */
    --secondary-color: #24B5D3;
    /* Pacific Cyan */
    --accent1-color: #E7EAD7;
    /* Beige */
    --accent2-color: #196A7C;
    /* Caribbean Current */

    --smoky-black: rgba(20, 11, 0, 1);
    --pacific-cyan: rgba(36, 181, 211, 1);
    --beige: rgba(231, 234, 215, 1);
    --caribbean-current: rgba(25, 106, 124, 1);
}

/* wild card settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default heading settings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

p {
    line-height: 1.6;
    letter-spacing: .06em;
    font-size: large;
    text-shadow: 3px 3px var(--primary-color);
}

/* Reservered
head {

} */

body {
    height: 100vh;
    /* Full viewport height */

    background: linear-gradient(to right, var(--primary-color) 0%, var(--primary-color) 33%, var(--secondary-color) 67%), var(--secondary-color) 100%;
    /* background: linear-gradient(to right, var(--primary-color) 20%, var(--secondary-color) 40%, var(--secondary-color) 60%, var(--primary-color) 75%); */
    background: linear-gradient(to right, var(--primary-color) 0%, var(--accent2-color) 67%, var(--secondary-color) 90%);
    color: var(--accent1-color);

    overflow-x: hidden;
    /* Hide bottom scroll bar */
    overflow-y: auto;
    /* Auto adjust side scroll bar */
}

header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 2em;
    background-color: var(--accent2-color);
    max-width: 100%;
    height: 10rem;
    border-bottom: 1px solid var(--primary-color);
}

.logo {
    justify-self: end;
    background-color: var(--primary-color);
    width: 125px;
    height: auto;
    margin-right: 5em;
    border-radius: 20px;
    box-shadow: 10px 10px 20px;
}

nav {
    justify-self: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    text-decoration: none;
}

nav a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    text-decoration: none;
    color: var(--primary-color);
    border-radius: 4px;
}

nav a:hover {
    color: var(--accent1-color);
}


/* Reserved
main {

}
*/

/* Reserved
main div {

}
*/

.hero {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    opacity: .5;
}

.hero h1 {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent1-color);
    text-shadow: 2px 4px var(--accent2-color);
    z-index: 1;
}

.hero h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent1-color);
    text-shadow: 2px 5px var(--accent2-color);
    z-index: 1;
}

.hero article {
    position: absolute;
    top: 15%;
}

.hero p {
    width: 60%;
    padding: 1em;
    margin-left: 15em;
}

.hero ul {
    margin-left: 4em;
    padding: 1em;
    font-size: large;
}

.hero article img {
    float: right;
    margin: 1.5em 8em 0 0;
    width: auto;
    height: 20em;
    opacity: 1;
    border-radius: 2rem;
}

.history {
    padding: 2em;
    justify-items: center;
}

.history h2 {
    text-shadow: 2px 5px var(--primary-color);
}

.history p {
    padding-top: 1em;
    width: 70%;
}

.history-view {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.history-view img {
    flex: 0 0 auto;
    max-width: 25%;
    height: auto;
    border-radius: 2rem;
}

.history-view p {
    flex: 1;
    text-align: justify;
    max-width: 30%;;
}

.adventure {
    margin: 0 auto;
    padding: 2em;
    height: 20em;
}

.adventure h2 {
    text-shadow: 2px 5px var(--primary-color);
}

.adventure div {
    display: flex;
    justify-content: center;
    padding: 2em;
    gap: 3em;
}

.adventure img {
    width: 15em;
    border-radius: 2rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--accent2-color);
    border-top: 1px solid var(--primary-color);
}

footer p {
    margin: 0 auto;
    text-align: center;
    flex: 1;
}

.social {
    display: flex;
    gap: 2em;
}

.social a img {
    text-decoration: none;
    width: 24px;
    height: 24px;
}

/* Font Use Examples
(font-weight: 100 - 900)

.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.fuzzy-bubbles-regular {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fuzzy-bubbles-bold {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal;
}
*/