:root {
    --background-color: #cccccc;
    --heading-font: 'Rock Salt', 'Fuzzy Bubbles', Helvetica, sans-serif;
    --standard-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;

    /* Colors */
    --primary-color: #140B00;
    /* Smoky Black */
    --secondary-color: #24B5D3;
    /* Pacific Cyan */
    --accent1-color: #E7EAD7;
    /* Beige */
    --accent2-color: #196A7C;
    /* Caribbean Current */

    --smoky-black: rgba(20, 11, 0, 1);
    --pacific-cyan: rgba(36, 181, 211, 1);
    --beige: rgba(231, 234, 215, 1);
    --caribbean-current: rgba(25, 106, 124, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* Full viewport height */
    margin: 0;
    /* Remove default margin */
    /* background: linear-gradient(to right, var(--primary-color) 0%, var(--primary-color) 33%, var(--secondary-color) 67%), var(--secondary-color) 100%; */
    background: linear-gradient(to right, var(--primary-color) 20%, var(--secondary-color) 40%, var(--secondary-color) 60%, var(--primary-color) 75%);
    color: var(--accent1-color);
    overflow-x: hidden;
    overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    text-align: center;
}

header {
    background-color: var(--accent2-color);
    display: block;
    width: 100%;
    height: 10rem;
}

.logo {
    background-color: var(--primary-color);
    width: 125px;
    height: auto;
    margin-left: 10%;
    margin-top: 1rem;
    border-radius: 20px;
    box-shadow: 10px 10px 20px;
}

.menu {
    display: inline;
}

.menu a {
    position: relative;
    top: -3em;
    left: 13em;
    color: var(--accent1-color);
    padding: 5%;
}

.menu a:hover {
    color: var(--primary-color);
}

main p {
    margin-left: 4em;
    padding: 1em;
    font-size: large;
}

main ul {
    margin-left: 4em;
    padding: 1em;
    font-size: large;
}

main img {
    position: relative;
    float: right;
    left: 1%;
    top: -135px;
    z-index: -1;
    border-radius: 10em;
}

aside {
    clear: both;
}

/* Font Use Examples */
.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /* 100 - 900 */
    font-style: normal;
}

.fuzzy-bubbles-regular {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fuzzy-bubbles-bold {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal;
}