nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 800px;
}

main img {
    width: 150px;
    height: auto;
}

aside {
    width: 30rem;
    margin: 1rem;
    border: 3px solid rgb(160 85 44 / 1);
    padding: 1rem;
    background-color: #cccccc;
    color: #000;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

h1 {
    color: darkblue;
}

/* 
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
*/

p {
    padding: 0;
}

footer {
    margin-top: 2px;
    border-top: 4px double #000;
    text-align: center;
}